.jumbotron[b-1cyyixpinc] {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}

.bg-grey[b-1cyyixpinc] {
    background-color: #f6f6f6;
}

.container-fluid[b-1cyyixpinc] {
    padding: 60px 50px;
}

