@page
@model Restaurant_management_system.Pages.AdminUserLoginModel
@{
}

    <p> <b>Choose any one option for further login as admin or user ..</b></p>


<div class="text-center">    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a class="btn btn-outline-primary" href="./Admin">Admin</a>
    <a class="btn btn-outline-secondary" href="./Login">User</a>
   
</div>