@page
@model Restaurant_management_system.Pages.BurgerModel
@{
}
<br />
<div class="text-center">   
    <a class="btn btn-outline-primary" href="./Burger"> Burger</a>
    <a class="btn  btn-outline-secondary" href="./pizza"> pizza</a>
    <a class="btn btn-outline-success" href="./pasta"> pasta </a>
    <a class="btn btn-outline-warning" href="./Fries"> Fries</a>
</div><br />
<div class="container" style="display:grid" id="item1">
   
        <div class="col-sm" style="width:300px">
            <div>
                <img src="./Images/bug1.png" /><br /><br />
                <p>Price: $20 <span><button class="btn btn-success" style="float:right">Order now</button></span></p>
                <p>This is chinese burger</p>
            </div>
        </div>   
    
</div>


<div class="container" style="display:grid"  id="item2">

    <div class="col-sm" style="width:300px">
        <div>
            <img src="./Images/bug2.png" /><br /><br />
            <p>Price: $20 <span><button class="btn btn-success" style="float:right">Order now</button></span></p>
            <p>This is chinese burger</p>
        </div>
    </div>
    
</div>

<div class="container" style="display:grid">

    <div class="col-sm" style="width:300px">
        <div>
            <img src="./Images/bug3.png" /><br /><br />
            <p>Price: $20 <span><button class="btn btn-success" style="float:right">Order now</button></span></p>
            <p>This is chinese burger</p>
        </div>
    </div>

</div>