@page
@model Restaurant_management_system.Pages.MenuModel
@{
}
<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />       
    <br />
    <br />
    <a class="btn btn-outline-primary"  href="./Burger">Burger</a>
    <a class="btn btn-outline-secondary" href="./pizza">pizza</a>
    <a class="btn btn-outline-success " href="./pasta">pasta</a>
    <a class="btn btn-outline-warning" href="./Fries">Fries</a>
    <a class="btn btn-outline-warning" href="./BillGenerator">Bill</a>
</div>